@model IEnumerable<MjestoViewModel>
@{
  ViewData["Title"] = "Popis mjesta";
}
<h2>Popis mjesta</h2>

<table class="table table-sm table-striped table-hover" id="tablemjesta">
  <thead>
    <tr>
      <th>Poštanski broj mjesta</th>
      <th>Naziv mjesta</th>
      <th>Poštanski naziv mjesta</th>
      <th>Država</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var mjesto in Model)
    {
      <tr>
        <td class="text-center">@mjesto.PostBrojMjesta</td>
        <td class="text-left">@mjesto.NazivMjesta</td>
        <td class="text-center">@mjesto.PostNazivMjesta</td>
        <td class="text-center">@mjesto.NazivDrzave</td>
      </tr>
    }
  </tbody>
</table>

@section styles{
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css" />
}

@section scripts{
  <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
  <script>
    $(document).ready(function () {
        $('#tablemjesta').DataTable({
        language: tableLangSettings
      });
    });
  </script>
}